@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: #f5f3f0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

  }
  
  #left-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 50%; /* Metade da largura da página */
    height: 100%; /* Altura total da página */
    flex-direction: column;
    align-items: left;
    padding: 4rem 0 0 10rem;
    
  }

  #left-container img {
    max-width: 70vh;
  }

  #left-container h2 {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Urbanist', sans-serif;
  }

  #left-container p {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 18px;
  }

  #links {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    text-decoration: none;
    margin-bottom: 5rem;
    font-family: 'Urbanist', sans-serif;
  }
  
  #links a {
    position: relative;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #a0a0a0;
    letter-spacing: 1px;
  }

  #links a::after {
    content: "";
    position: absolute;
    background-color: #FF2661;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -5px;
    transition: all 0.3s;
    visibility: hidden;
    
  }

  #links a:hover:after {
    visibility: visible;
    width: 100%;
  }

  #links a:hover{
    color: #FF2661;
  }

  #social-media {
    display: flex;
    gap: 1rem;
  }

  #social-media img {
    max-width: 5vh;
  }


/* right container */
  
  #right-container {
    position: relative;
    margin-left: 50%; /* Metade da largura da página */
    max-width: 50%; /* Metade da largura da página */
    height: 100%; /* Altura total da página */
    overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo for maior que a altura */
  }

  #about-me {
    padding: 4rem 10rem 2rem 3rem;
    line-height: 1.5; /* Define o espaçamento entre as linhas */
  }

  .experience-card {
    display: flex;
    margin: 0 10rem 2rem 3rem;
    padding: 1rem;
    border-radius: 25px;
    transition: background-color 0.3s ease;

  }

  .experience-card:hover{
    background-color: #FFD4E0;
  }

  
  .experience-card:hover .experience-card-left #experience-duration   {
    background-color: #FFD4E0; /* Altere a cor de fundo das divs internas conforme necessário */
  }
  
 .experience-card-left #experience-duration {
    transition: background-color 0.3s ease;
  }

  .experience-card-left, #experience-duration {
    display: flex;
    margin: 0;
    padding: 0 0.5rem 0 0;
    text-wrap: nowrap;
    color: #FF618C;
  }
  

  .experience-card-right,  .experience-card-right h3,  .experience-card-right p, .experience-card-right h4 {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
  }

  .experience-card h3 {
    color: #FF2661;
  }

  .experience-card p {
    color: #340F19;
    font-size: 14px;
  }

  .experience-card-right {
    padding-left: 1rem;
    gap: 1rem;
  }

  .experience-tags {
    display: flex;
    gap: 1rem;
  }

  .experience-tags h4 {
    background-color: #FFEDF2;
    color: #FF2661;
    padding: 0.2rem 0.5rem;
    font-size: 14px;
    border-radius: 25px;
  }

